* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #ec1f55;
    --text-color: #333;
  }

.player {
    background-color: rgba(204, 204, 204, 0.226);
}
.player .icon-pause {
    display: none;
}
  
.player.playing .icon-pause {
    display: inline-block;
}
  
.player.playing .icon-play {
    display: none;
}

#dashboard {
    width: 100%;
    max-width: 100%;
    padding: 16px 16px 14px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}
#dashboard header {
    height: 48px;
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}
header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
header h2 {
    color: var(--text-color);
    font-size: 20px;
}
.cd {
    width: 200px;
    margin: auto;
    display: flex;
}
.cd .cd-radius {
    width: 100%;
    padding-top: 100%;
    background-color: rgba(225, 225, 225, 0.246);
    margin: auto;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
}

.control {
    padding: 18px 0 8px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.control .btn {
    padding: 18px;
    font-size: 18px;
}
.control .btn-play {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    
}
.control .btn.active {
    color: var(--primary-color);
}

.process {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #ccc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.process::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.playlist {
    margin-top: 408px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    
}
.playlist .song {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    margin-bottom: 12px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 10%);
    background-color: white;
    border-radius: 5px;
}
.playlist .song.active {
    background-color: var(--primary-color);
    color: white;
}
.song .song-img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: #CCc;
    margin: 0 8px;
    background-size: cover;
    background-repeat: no-repeat;
}
.song:active {
    opacity: 0.8;
}
.song .body {
    flex: 1;
    padding: 0 16px;
}
.song .title {
    font-size: 18px;
    padding: 5px 0;
}
.song .author {
    font-size: 12px;
}
.song .song-icon {
    padding: 16px 8px;
    font-size: 18px;

}